.Home__container {
  margin-bottom: 0px;
}
.Home__slider {
  background-image: url(../../features_img/backgrounds_final/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.Home__slider__left {
  padding: 7rem 5rem;
  margin-bottom: 10rem;
  text-align: left;
}
.Home__slider__left h1 {
  font-size: 4.2rem;
  letter-spacing: 4px;
}
.title {
  display: flex;
  flex-direction: row;
}
html {
  scroll-behavior: smooth;
}
#health {
  padding-left: 20px;
  color: #292d34;
}
#ez {
  color: #17b2ac;
}

h2 {
  font-size: 2 rem;
}
